/* estilos de sección que dicen de mi */
.opinions{
    color:#fff;
    background: #111;
}

.opinions .carousel .card .box{
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.opinions .carousel .card .text{
    font-size: 25px;
    font-weight: 300;
    margin: 10px 10px 7px 0;
}
.opinions .carousel .card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid rgb(255, 255, 255);
    transition: all 0.3s ease;
}

.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid crimson!important;
    transition: all 0.3s ease;
}
.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover{
    background: crimson!important;
}
